

body {
    font-family:Arial, Helvetica, sans-serif;
}

form{
    background: #94b8b8;
    padding: 5px;
    border-radius: 10px;
}

form > * + * {
    margin: 5px;
    padding: 5px;
    border-radius: 10px;
}

tr * {
    background: #94b8b8;
margin: 10px;
    padding: 8px;
    border-radius: 10px;
}

